header{
  font-weight: bold;
  font-family: sans-serif;
  font-size: 50px;
  text-align: center;
  color: tomato;
  border-bottom: dashed 8px;
  border-radius: 30px;
  margin-bottom: 20px;
  background-color: rgba(0,0,0,0.6);
}

.from{
  display: flex;
}

.fromA{
  display:flex;
  flex-direction: column;
  font-size: 20px;
}

.from > img{
  border-right: solid 8px gold;
  border-left: solid 8px gold;
  box-shadow: 15px 10px 3px 3px rgba(0,0,0,0.5);
  margin-right: 30px;
  margin-bottom: 30px;
}



.want{
  display: flex;
  flex-direction: row-reverse;
}

.wantA{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background-image: url(https://th.bing.com/th/id/OIP.LeXEC50my5IGotNG0X_CDgHaE7?w=273&h=181&c=7&o=5&dpr=1.5&pid=1.7) ;
  background-size: cover;
  background-position: center;
  color:royalblue;
  padding: 10px;
}

.want > img{
  border-radius:100px;
  border: solid 5px skyblue;
  animation: meat 10s infinite alternate-reverse linear;
}

@keyframes meat{
  0%{transform:none;}
  100%{transform:rotate(360deg);}
}

.future{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.futureA{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color:turquoise;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/40/Dawn_1.jpg);
  background-size: cover;
  background-position: bottom;
  box-shadow:20px 10px 5px 3px steelblue
}

.future > img{
  margin-right: 20px;
  transition-property: border-radius;
  transition-duration: 3s;
}

.future  img:hover{
  border-radius: 100px;
}

.figure{
  border: 6px silver solid;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  background-color: rgba(70,200,70,0.4);
}

ul{
  list-style-image: url(../img/icon.png);
}

.point{
  text-align: center;
  background-image:url(https://th.bing.com/th/id/OIP.erP4XoPX938g__0nhAxYsQHaFT?w=292&h=205&c=7&o=5&dpr=1.5&pid=1.7);
  background-size: cover;
  color:palegoldenrod;
}

.gg{
  margin-top: 40px;
  text-align: center;
  color:palevioletred
}

.picture{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.picture1 {
  transition-property: border-radius, transform;
  transition-duration: 1s;
  transition-delay: 0.3s;
  transition-timing-function: ease-in-out;
}
.picture1:hover {
  border-radius:30%;
  transform: translateY(-70px) rotate(30deg) scaleX(1.5) scaleY(1.5);
}

.picture2{
  transition-property: border-radius, transform;
  transition-duration: 1s;
  transition-delay: 0.3s;
  transition-timing-function: ease;
}
.picture2:hover{
  border-radius:30%;
  transform: translateY(70px) rotate(30deg) scaleX(1.5) scaleY(1.5);
}

.picture3{
  transition-property: border-radius, transform;
  transition-duration: 1s;
  transition-delay: 0.3s;
  transition-timing-function: ease-out;
}
.picture3:hover{
  border-radius:30%;
  transform: translateY(-70px) rotate(30deg) scaleX(1.5) scaleY(1.5);
}

.picture4{
  transition-property: border-radius, transform;
  transition-duration: 1s;
  transition-delay: 0.3s;
  transition-timing-function: linear;
}
.picture4:hover{
  border-radius:30%;
  transform: translateY(70px) rotate(30deg) scaleX(1.5) scaleY(1.5);
}

.message{
  width: 300px; padding:8px 16px; background: black; color:#ddd; border-radius: 4px;
  box-shadow:0 2px 4px; position:fixed; right:32px; bottom:32px;
  animation: popup 2s forwards;
}

@keyframes popup{
  0%{transform:translateY(20px);
     opacity:0;}
  20%{transform:none;
     opacity:1;}
  80%{transform:none;
     opacity:1;}
  100%{transform:translateY(20px);
     opacity:0;
     pointer-events: none;}
}

footer{
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}


